{% extends "__layout.twig" %}
{% block content %}
<div class="container mt-5">
    <div class="character">
        <img src="/images/dooku3.png" style="width: 400px;"/>
        <h3><a href="/characters/dooku" class="link-light text-decoration-none fw-bold">ГРАФ ДУКУ (ДАРТ ТИРАНУС)</a></h3>
        🧙 Статус: Бывший мастер джедай, позже ситх и лидер Конфедерации.<br>
        🧠 Характер: Аристократичный, хладнокровный, логичный. Считал, что Республика обречена.<br>
        ⚔️ Стиль боя: Макэ Ши (Форма II) — дуэльный стиль, изысканный и элегантный. Идеален против джедаев.<br>
        💥 Сила: Очень силён, особенно в технике фехтования. Один из лучших дуэлянтов.<br>
        🏹 Битвы: Дуэли с Йодой, Энакином, Оби-Ваном, Войны клонов, Битва при Корусанте (гибель от Энакина)<br>
        ⚔️ Враги: Йода, Энакин, Кеноби<br>
    </div>
    <div class="character">
        <img src="/images/maul3.png" style="width: 400px;"/>
        <h3><a href="/characters/maul" class="link-light text-decoration-none fw-bold">ДАРТ МОЛ</a></h3>
        🧙 Статус: Ученик Дарта Сидиуса, позже глава преступного синдиката “Кримсон Даун”.<br>
        🧠 Характер:  Мстительный, яростный, выносливый. Целеустремлённый и очень живучий.<br>
        ⚔️ Стиль боя: Джуйо (Форма VII) — агрессивный и хаотичный стиль. Использует двойной меч.<br>
        💥 Сила: Сильный воин и мастер боевых искусств. Не самый могущественный в Силе, но опасный.<br>
        🏹 Битвы: Дуэль на Набу (Оби-Ван и Квай-Гон), Осада Мандалора (против Асоки), дуэли с Энакином, Асокой, Кеноби<br>
        ⚔️ Враги: Оби-Ван, Сидиус, Асока<br>
    </div>
    <div class="character">
        <img src="/images/starkiller3.png" style="width: 300px;"/>
        <h3><a href="/characters/starkiller" class="link-light text-decoration-none fw-bold">СТАРКИЛЛЕР (Галэн Марек)</a></h3>
        🧙 Статус: Сначала тень Вейдера, позже бунтарь. Обладает колоссальной Силой.<br>
        🧠 Характер: трагичный, жаждущий истины, колеблющийся между добром и злом<br>
        ⚔️ Стиль боя:  Смесь форм, агрессия и точные удары. Использует молнии, телекинез, двойные клинки.<br>
        💥 Сила: Один из самых сильных персонажей в “Легендах”. Тянет Звёздный Разрушитель с неба.<br>
        🏹 Битвы: Дуэли с Вейдером, Сидиусом, Инквизиторами, имперскими воинами<br>
        ⚔️ Враги: Сидиус, Вейдер, Империя
    </div>
    <div class="character">
        <img src="/images/vader3.png" style="width: 400px;"/>
        <h3><a href="/characters/vader" class="link-light text-decoration-none fw-bold">ДАРТ ВЕЙДЕР</a></h3>
        🧙 Статус: Ученик Дарта Сидиуса (Дарт Тиранус погиб), тёмный лорд ситхов. Правая рука Императора. Охотник на джедаев и подавитель мятежей.<br>
        🧠 Характер:  Холодный, подавленный, одержимый. После травм становится более замкнутым. Чувства превращаются в ярость и подавление боли. Испытывает внутренний конфликт.<br>
        ⚔️ Стиль боя: Модифицированный Джем Со, тяжёлый и подавляющий. Меньше акробатики, больше грубой силы. Удары мощные и неумолимые. Использует одностороннее доминирование — давит, не давая противнику шансов. Также добавляет элементы Шиен — отражение выстрелов, против толп.<br>
        💥 Сила: Потенциал частично утрачен. Тело ослаблено, но способность к Силе выросла за счёт гнева и контроля. В теле — машина, но духом — монстр. Специализируется на телекинезе, удушении, агрессивной атаке. Обладает ужасающим присутствием.<br>
        🏹 Битвы: Геноцид джедаев, дуэль с Оби-Ваном, Осада Повстанцев, Осада Джедайского храма, Дуэль с Асокой (Малахор)<br>
        ⚔️ Враги: Оби-Ван, Люк Скайуокер, повстанцы, Асока, выжившие джедаи, позже — сам Император<br>
    </div>
</div>
{% endblock %}
