{% extends "__layout.twig" %}
{% block content %}
<div class="text-center my-4">
    <img src="/images/anakin.png" style="width: 600px;" class="img-fluid rounded" alt="Энакин Скайуокер"/>
</div>

<h2 class="text-center mb-4">Биография Энакина Скайуокера</h2>

<div class="mx-auto" style="max-width: 700px; text-align: justify; font-size: 1.1rem; line-height: 1.6;">
    <p>Энакин родился на планете Татуин как раб, не имевший семьи и будущего. Его необычайная чувствительность к Силе была замечена мастером Куай-Гоном Джинном, который убедил Совет Джедаев взять мальчика на обучение.</p>

    <p>Обучаясь в Ордене, Энакин проявлял огромный талант, но также был импульсивен и эмоционален. Он быстро вырос в могущественного рыцаря Джедая, сражался в Войнах Клонов, стал героем Республики и возлюбленным Падме Амидалы.</p>

    <p>Однако страх потерять близких, особенно Падме, и внутренний конфликт сделали его уязвимым к манипуляциям Палпатина — Тайного Лорда Ситхов. В итоге Энакин предал Орден, став Даром Вейдером.</p>

    <p>Как Дарт Вейдер он стал правой рукой Императора, не щадя врагов Империи, но в глубине души оставался раздвоенным. В финале своей истории он спас своего сына Люка и уничтожил Императора, погибнув от ран.</p>
</div>
{% endblock %}
