{% extends "__layout.twig" %}
{% block content %}
<div class="text-center my-4">
    <img src="/images/dooku.png" style="width: 500px;" class="img-fluid rounded" alt="Граф Дуку"/>
</div>

<h2 class="text-center mb-4">Биография графа Дуку</h2>

<div class="mx-auto" style="max-width: 700px; text-align: justify; font-size: 1.1rem; line-height: 1.6;">
    <p>Граф Дуку, также известный как Дарт Тиранус, был выдающимся джедаем, который со временем разочаровался в Ордене и перешёл на Тёмную сторону. Он стал учеником Императора Палпатина и возглавил сепаратистское движение, выступая против Республики во время Войн Клонов.</p>

    <p>Он был искусным дуэлянтом, сражался в многочисленных битвах против джедаев и клонов, проявляя холодный рассудок и стратегическую хитрость. Его переход на Тёмную сторону привёл к серьёзным переменам в галактической политике и началу имперского правления.</p>

    <p>В конце концов, граф был убит своим собственным учеником — генералом Гривусом, став лишь пешкой в большом плане Императора.</p>
</div>
{% endblock %}
