{% extends "__layout.twig" %}
{% block content %}
<div class="text-center my-4">
    <img src="/images/kel-kestis.png" style="width: 600px;" class="img-fluid rounded" alt="Кэл Кестис"/>
</div>

<h2 class="text-center mb-4">Биография Кэла Кестиса</h2>

<div class="mx-auto" style="max-width: 700px; text-align: justify; font-size: 1.1rem; line-height: 1.6;">
    <p>Кэл Кестис — падаван Джедая, который успел пройти начальное обучение, но пережил Приказ 66 и уничтожение Ордена. Он был скрыт и долгое время скрывался от Империи.</p>

    <p>Сражаясь с инквизиторами и пытаясь восстановить знания о Джедаях, Кэл искал свой путь в мире, где власть захватил Император. Он был умелым бойцом, но также внутренне сомневался и искал себя.</p>

    <p>История Кэла раскрывается в видеоигре «Star Wars Jedi: Fallen Order», где он постепенно обретает силы и уверенность, чтобы противостоять Империи.</p>
</div>
{% endblock %}
