{% extends "__layout.twig" %}
{% block content %}
<div class="text-center my-4">
    <img src="/images/maul.png" style="width: 600px;" class="img-fluid rounded" alt="Дарт Мол"/>
</div>

<h2 class="text-center mb-4">Биография Дарта Мола</h2>

<div class="mx-auto" style="max-width: 700px; text-align: justify; font-size: 1.1rem; line-height: 1.6;">
    <p>Дарт Мол был первым известным учеником Дарта Сидиуса — Императора Палпатина. С юности он тренировался в искусстве Ситха, отличался свирепым боевым стилем и уникальной внешностью, включая двусторонний световой меч.</p>

    <p>Он прославился в битве на Набу, где сразился с Оби-Ваном Кеноби и Квай-Гоном Джинном, был поражён и считался погибшим. Позже он выжил и продолжил борьбу с джедаями, возглавляя криминальные группировки и устраняя врагов Империи.</p>

    <p>Его путь был наполнен жаждой мести и ненавистью к джедаям, но в итоге он был уничтожен в дуэли с Оби-Ваном.</p>
</div>
{% endblock %}
