{% extends "__layout.twig" %}
{% block content %}
<div class="text-center my-4">
    <img src="/images/obi-wan.jpg" style="width: 600px;" class="img-fluid rounded" alt="Оби-Ван Кеноби"/>
</div>

<h2 class="text-center mb-4">Биография Оби-Вана Кеноби</h2>

<div class="mx-auto" style="max-width: 700px; text-align: justify; font-size: 1.1rem; line-height: 1.6;">
    <p>Оби-Ван Кеноби родился и был найден орденом Джедаев в детстве благодаря своей чувствительности к Силе. Его приняли на обучение и обучили в храме Джедаев, где он вырос и стал одним из самых талантливых учеников. Его наставником был мастер Куай-Гон Джинн, который видел в нём большое будущее.</p>

    <p>После гибели Куай-Гона в дуэли с Дартом Молом, Оби-Ван взял на себя ответственность за воспитание ученика мастера — Энакина Скайуокера, которого Орден считал Избранным, способным принести баланс Силе.</p>

    <p>Во время Войн Клонов Оби-Ван участвовал в многочисленных сражениях и миссиях, проявляя мудрость и отвагу. Он сражался с графом Дуку, Дартом Молом, а также выступал в роли дипломата и стратега.</p>

    <p>Однако его ученик постепенно скатился к Тёмной стороне, и на Мустафаре произошла трагическая дуэль между Оби-Ваном и Энакином, в которой Оби-Ван оставил раненого ученика, думая, что тот погиб.</p>

    <p>После Приказа 66 и падения Ордена Джедаев, Оби-Ван ушёл в изгнание и наблюдал за мальчиком Люком Скайуокером, которого он должен был обучить. Вскоре он пожертвовал собой в дуэли с Дартом Вейдером, чтобы дать Люку шанс.</p>
</div>
{% endblock %}
