{% extends "__layout.twig" %}
{% block content %}
<div class="text-center my-4">
    <img src="/images/starkiller.png" style="width: 600px;" class="img-fluid rounded" alt="Старкиллер"/>
</div>

<h2 class="text-center mb-4">Биография Старкиллера</h2>

<div class="mx-auto" style="max-width: 700px; text-align: justify; font-size: 1.1rem; line-height: 1.6;">
    <p>Старкиллер был учеником Дарта Вейдера, обученным тайному уничтожению врагов Империи и джедаев. Его способности к Силе были одними из самых сильных, а методы — агрессивными и безжалостными.</p>

    <p>Он выполнял секретные миссии по устранению угроз Империи, в том числе преследовал Люка Скайуокера и других повстанцев. Несмотря на свою силу и преданность Вейдеру, Старкиллер столкнулся с внутренними сомнениями и конфликтами.</p>

    <p>Его судьба связана с борьбой за контроль над галактикой и попытками сохранить баланс между Светлой и Тёмной сторонами.</p>
</div>
{% endblock %}
