{% extends "__layout.twig" %}
{% block content %}
<div class="text-center my-4">
    <img src="/images/vader.png" style="width: 600px;" class="img-fluid rounded" alt="Дарт Вейдер"/>
</div>

<h2 class="text-center mb-4">Биография Дарта Вейдера</h2>

<div class="mx-auto" style="max-width: 700px; text-align: justify; font-size: 1.1rem; line-height: 1.6;">
    <p>Дарт Вейдер, ранее известный как Энакин Скайуокер, после падения на Тёмную сторону стал учеником Императора Палпатина и одним из самых могущественных и жестоких лордов ситхов. Его тело было серьёзно повреждено в дуэли с Оби-Ваном Кеноби на Мустафаре, после чего он выжил лишь благодаря кибернетическим протезам и специальному костюму.</p>

    <p>Как Дарт Вейдер, он служил Империи, подавляя повстанцев и уничтожая остатки Ордена Джедаев. Он участвовал во множестве битв и охоте на джедаев, оставаясь страшной фигурой в галактике. Несмотря на своё тёмное положение, внутренние конфликты и остатки человечности всё же сохранялись в нём.</p>

    <p>В конце концов, он пожертвовал собой, спасая своего сына Люка Скайуокера и уничтожая Императора, что стало ключевым моментом в судьбе галактики.</p>
</div>
{% endblock %}
